/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  text-align: center;
}

hr {
  border-color: beige;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .name, .header .links {
  display: flex;
}

.header .link {
  cursor: pointer;
  padding: 0 .5rem;
}

#profile, #projects, #experience, #contact {
  // min-height: 35rem;
}

#profile, #projects {
  background-color: antiquewhite;
}

#experience, #contact {
  background-color: whitesmoke;
}

.fullscreen {
  min-height: calc(100vh - 64px);
}

.splash {
  background: teal no-repeat fixed center url(./images/gizmo_and_gadget.jpg);
  background-size: cover;
}

.splash-prompt {
  display: flex;
  color: red;
  justify-content: center;
  font-size: 3rem;
}

.avatar {
  width: 25rem !important;
  height: 25rem !important;

  margin: auto auto;
}

.section {
  padding: 1rem 10rem 1rem;
  flex-flow: column wrap;
}

.section-contents {
  margin-top: 3rem;
}

.flex {
  display: flex;
}

.flex--row {
  flex-flow: row wrap;
}

.flex--column {
  flex-flow: column wrap;
}

.flex--centered {
  justify-content: center;
}

.flex--item {
  flex: 1;
}

.section-description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.profile-text {
  padding: 1rem 3rem 1rem;
  flex-flow: column wrap;
}

.icon {
  line-height: inherit;
  vertical-align: middle;
  padding-right: .5rem;
}

.welcome-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10rem;
  font-weight: bolder;
  color: whitesmoke;

  @include stroke(2, #000);
}


// maybe do something with it?
.gadget-speak {
  position: absolute;
  width: 17rem;
  height: 7rem;
  font-size: 3rem;
  line-height: 7rem;
  left: 70%;
  top: 9%;
  text-align: center;
  background-color: white;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.781em solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.891em;
	margin-bottom: -1.781em;
}