//https://material-ui.com/customization/color/#color


/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

// Styles that depend on resolution of media
.section {
  padding: 1rem 1rem 1rem;
}

.welcome-text {
  font-size: 5rem;
}

.avatar {
  width: 20rem !important;
  height: 20rem !important;
}

.career-list {
  width: 100%;
  min-width: 355px;
  max-width: 435px;
}

@media screen and (min-width: 500px){
  .section {
    padding: 1rem 3rem 1rem;
  }

  .welcome-text {
    font-size: 6rem;
  }

  .avatar {
    width: 25rem !important;
    height: 25rem !important;
  }
}

@media screen and (min-width: 700px) {
  .section {
    padding: 1rem 3rem 1rem;
  }

  .welcome-text {
    font-size: 8rem;
  }
}

@media screen and (min-width: 751px) {
  .profile-text {
    padding: 0 0 1em 3em;
  }
}

@media screen and (min-width: 900px) {
  .section {
    padding: 1rem 5rem 1rem;
  }

  .welcome-text {
    font-size: 10rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  text-align: center;
}

hr {
  border-color: beige;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .name, .header .links {
  display: flex;
}

.header .link {
  cursor: pointer;
  padding: 0 .5rem;
}

#profile, #projects, #experience, #contact {
  // min-height: 35rem;
}

#profile, #projects {
  background-color: antiquewhite;
}

#experience {
  background-color: whitesmoke;
}

.fullscreen {
  min-height: calc(100vh - 64px);
}

.splash {
  background: teal no-repeat fixed center url(./images/gizmo_and_gadget.jpg);
  background-size: cover;
}

.splash-prompt {
  display: flex;
  color: red;
  justify-content: center;
  font-size: 3rem;
}

.avatar {
  margin: auto auto;
}

.section {
  flex-flow: column wrap;
}

.section-contents {
  margin: 3em 1em 0 1em;
}

.footer {
  background-color: #171717;
  color: whitesmoke;
  // min-height: 50vh;
  padding-bottom: 10rem;

  hr {
    border-color: #424242;
  }
}

.flex {
  display: flex;
}

.flex--row {
  flex-flow: row wrap;
}

.flex--column {
  flex-flow: column wrap;
}

.flex--centered {
  justify-content: center;
}

.flex--item {
  flex: 1;
}

.section-description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.profile-text {
  flex-flow: column wrap;
}

.tech-type {
  color: #00aabb;
  cursor: help;
  text-decoration: underline dotted;
  font-style: italic;
}

.icon {
  line-height: inherit;
  vertical-align: middle;
  padding-right: .5rem;
}

.welcome-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bolder;
  color: whitesmoke;

  @include stroke(2, #000);
}

.--bolded {
  font-weight: bold;
}

.--block {
  display: block;
}

.career-list > p {
  color: whitesmoke;
}

.career-list__list-item {
  cursor: pointer;
}

.career-points-list {
  min-width: 200px;
}

.career-points-list__point {
  margin-bottom: .5em;
}

.list__avatar {
  background-color: white;
}

.contact-link {
  text-align: center;
  margin-bottom: 2em;
}

.contact-link > a {
  text-align: start;
  color: inherit;
  font-size: 1.5em;
  min-width: 310px;
  display: inline-block;
}

.contact-link > a > i {
  font-size: 1.5em;
}

// maybe do something with it?
.gadget-speak {
  position: absolute;
  width: 17rem;
  height: 7rem;
  font-size: 3rem;
  line-height: 7rem;
  left: 70%;
  top: 9%;
  text-align: center;
  background-color: white;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.781em solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.891em;
	margin-bottom: -1.781em;
}